
<!DOCTYPE html>
<h1>Classificador - Cardiomegalia</h1>
<h3>Faça Upload de um Raio-X Toráxico na extenção JPG ou  JPEG.</h3>
<html>
<body>

    <form method="POST" enctype="multipart/form-data" action="classificador">
        <label for="file">Selecione o exame:</label>
        <input type="file" id="file" name="file" accept="*.jpg,*.jpeg">
        <input type="submit" value="submit">
    </form>
    <p></p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Este obra está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Atribuição-NãoComercial 4.0 Internacional</a>.

</body>
</html>